* {
    box-sizing: border-box;
  }

  .dark-mode {
    background-color: black;
    color: white;
  }
  h1{
    text-align: center;
  }

  p{
      text-align: center;
  }
  
   span {

    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;

    width: 100%;
    font-size: 18px;
    transition: 0.2s;
    /* display: flex;
    flex-direction: column; */
  }

  div {
    cursor: pointer;
    position: relative;
    align-items: center;
    text-align: center;

    width: 100%;
    font-size: 18px;
    transition: 0.2s;
    display:flex;
    flex-direction: column;
  }

  span:hover {
    background: #9c9393;
  }
  
  span.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
 
   span::before {
    content: '';
    /* position: absolute; */
    border-color: #fffcfc;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    height: 15px;
    width: 7px;
  }
  
  
 
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 10px;
    
    font-size: 16px;
  }
  
 
  button {
    padding: 10px;
    width: 15%;
    background: #d9d9d9;
    display: flex;
    flex-direction: row;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
  }
  
  button:hover {
    background-color: #bbb;
  }
